img {
    max-width: 100% ;
    max-height: 50vh ;
}

.backbutton{
    color: blue;
    cursor: pointer;
}

.itemss{
width: 180px;
}

.itemss:hover{
    color: blue;
    cursor: pointer;
}

h1 { color: black;
    background-color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #000; 
}

h1:hover{
    color: red;
}

body{
    background-color: black;
    color: white;
}

.lists {
    display: flex;
}

.salesbutton{
    margin-left: 10px;
    border: outset black; 
}

.salesbutton:hover{
    cursor: pointer;
    color: blue;
}